<script src="http://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script>

<div style="width:80%;margin:0 auto 0 auto">
    <div id="room_online_user" class="user_status">
        <p>user!!!</p>
        <div class="user_list">
        {% for user in room_online_users %}
        <span>user</span>
        {% endfor %}
        </div>
    </div>

    <div id="chat_content" style="height:400px;overflow-y:scroll; border:1px solid #ccc;">
      <table id="content_table" style="width:100%;; padding:5px;">
        <!--{% for item in room_content %}
          <tr >
            <td>{{item.content|safe}}</td>
            <td>{{item.created|safe}}</td>
          </tr>
        {% endfor %}-->
      </table>
    </div>
    <form action="/post_content" method="POST" id="post_content">
      <input name="content" type="TEXT" style="width:300px"/>
      <input type="SUBMIT" value="submit" />
    </form>
</div>
	<script src="/static/js/main.js"></script>
    <script> create_room_comet(); </script>
